/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
}

header {
    /* background-color: #333; */
    background: rgb(70,193,187);
    background: radial-gradient(circle, rgba(70,193,187,1) 0%, rgba(238,174,202,1) 63%);
    /* background-color: ; */
    color: #000000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #300404;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#id1{
    background-color: crimson;
}
#id2{
    background-color: crimson;
}
